*.class
*~
*.gradle
# Package Files #
*.war
*.ear

/.classpath
/.settings
/.project
/runtime
/bin
/dist
/.idea
/target
/dependency-reduced-pom.xml
/build
gradlew
gradlew.bat
META-INF
gradle
Dogecoins.iml
